$bg-color-defocused-selection: $palette-gray!default;

$bg-color-button-inactive:     transparent!default;
$bg-color-button-active:       $palette-light-blue!default;
$bg-color-button-hover:        darken($bg-color-button-active, 5%)!default;
$fg-color-button-text:         $palette-black!default;

$border-color-button-inactive: transparent!default;
$border-color-button-active:   $palette-dark-blue!default;
$border-color-button-hover:    darken($border-color-button-active, 5%)!default;

.wiki-editor {
  .menu.toolbar-menu {
    .toolbar-button-group {
      display: inline-flex;
      border-right:  2px groove;
      margin-right:  .5rem;
      padding: 0 .25rem;

      &:last-child {
        border-right: 0;
        margin-right: 0;
        padding-right: 0;
      }
    }

    .toolbar-button {
      cursor: pointer;
      padding: .5rem;
      background: $bg-color-button-inactive;
      border: 1px solid $border-color-button-inactive;

      &.is-active {
        background: $bg-color-button-active;
        border-color: $border-color-button-active;
      }

      &:hover {
        background: $bg-color-button-hover;
        border-color: $border-color-button-hover;
      }
    }
  }

  div[contenteditable=true] {
    ::selection {
      background-color: $bg-color-defocused-selection;
    }

    border: 1px solid $palette-gray;
    padding: $editor-padding;
  }
}
